{{ define "index"}}
<body>
    <div class="container mt-3">
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Interval</th>
                    <th>Alerts</th>
                    <th>State</th>
                </tr>
                {{ range .Hosts }}
                <tr>
                    <td><a href="/edit/?hash={{ .Hash }}">{{ .Name }}</a></td>
                    <td>
                        <a href="http://{{ $.Config.Host }}:{{ $.Config.Port }}/check/?hash={{ .Hash }}" target="_blank">Check</a>
                    </td>
                    <td>{{ .Interval }}</td>
                    <td>{{ range .Alerts }}{{ . }} {{ end }}</td>
                    <td>
                    {{ if .Active }}
                    <img src="data:image/png;base64, {{ index $.Themes 0 }}" width="20"/>
                    {{ else }}
                    <img src="data:image/png;base64, {{ index $.Themes 1 }}" width="20"/>
                    {{ end }}
                    </td>
                </tr>
                {{ end }}
            </table>
            <a href="/edit/?hash=new" class="text-center">
                <button class="btn btn-primary">New</button>
            </a>
        </div>
    </div>
{{ template "footer" }}
{{ end }}