{{ define "log" }}

<body>
    <div class="container mt-5">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Address</th>
                <th>User Agent</th>
                <th>State</th>
            </tr>
            {{ range .Records }}
            <tr>
                <td><a href="/edit/?hash={{ .Hash }}">{{ .Name }}</a></td>
                <td>{{ .Date }}</td>
                <td>{{ .IP }}</td>
                <td>{{ .Agent }}</td>
                <td>{{ if eq .State "ok" }}
                    <i class="bi bi-check-circle-fill" style="color:greenyellow;"></i>
                    {{ else }}
                    <i class="bi bi-dash-circle-fill" style="color:red;"></i>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
        

{{ template "footer" }}
{{ end }}