{{ define "log" }}

<body>
    <div class="container mt-5">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Address</th>
                <th>User Agent</th>
                <th>State</th>
            </tr>
            {{ range .Records }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .IP }}</td>
                <td>{{ .Agent }}</td>
                <td>{{ if eq .State "ok" }}
                    <img src="data:image/png;base64, {{ index $.Themes 0 }}" width="20"/>
                    {{ else }}
                    <img src="data:image/png;base64, {{ index $.Themes 1 }}" width="20"/>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
        

{{ template "footer" }}
{{ end }}