{{ define "log" }}

<body>
    <div class="container mt-5">
        <div class="row">
        <div class="col">
            <form action="/log/" method="get" class="input-group">
                <select name="name" class="form-select">
                    <option value="">All</option>
                    {{ range .Themes }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <select name="state" class="form-select">
                    <option value="">All</option>
                    <option value="alert">Alert</option>
                    <option value="ok">Ok</option>
                </select>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        <div class="col">
            <div class="row">
            <div class="col">
            <form action="/log/" method="get" class="input-group">
                <select name="show" class="form-select">
                    <option selected value="{{ .Config.Show }}">{{ .Config.Show }}</option>
                    <option value="all">All</option>
                    <option value="50">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="5000">5000</option>
                </select>
                <button type="submit" class="btn btn-primary">Show</button>
            </form>
            </div>
            <div class="col">
                <form action="/search/" method="get" class="input-group">
                    <input name="search" type="text" class="form-control">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Address</th>
                <th>User Agent</th>
                <th>State</th>
            </tr>
            {{ range .Records }}
            <tr>
                <td><a href="/edit/?hash={{ .Hash }}">{{ .Name }}</a></td>
                <td>{{ .Date }}</td>
                <td>{{ .IP }}</td>
                <td>{{ .Agent }}</td>
                <td>{{ if eq .State "ok" }}
                    <i class="bi bi-check-circle-fill" style="color:greenyellow;"></i>
                    {{ else }}
                    <i class="bi bi-dash-circle-fill" style="color:red;"></i>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </table>
        </div>
    </div>
        

{{ template "footer" }}
{{ end }}